<!DOCTYPE html>
<html lang="en">

<%- include('includes/head'); -%>

<body>
    <%- include('includes/header'); -%>

    <main>

        <section id="loading">
            <h1>Een moment geduld alsjeblieft... De map wordt ingeladen!</h1>
        </section>
        <div id='map'></div>

        <section>
            <div class="dropdownregio">
                <button class="dropdownregio__hover">Choose a region</button>
                <div class="dropdownregio__menu">
                    <li><input type="checkbox" name="All"> All</li>
                    <li><input type="checkbox" name="Africa"> Africa</li>
                    <li><input type="checkbox" name="Americas"> Americas</li>
                    <li><input type="checkbox" name="Asia"> Asia</li>
                    <li><input type="checkbox" name="Europe"> Europe</li>
                    <li><input type="checkbox" name="Oceania"> Oceania</li>
                </div>
            </div>

            <div class="dropdownregio">
                <button class="dropdownregio__hover">Choose a language</button>
                <div class="dropdownregio__menu">
                    <a href="#">All</a>
                    <a href="#">Albanian</a>
                    <a href="#">Arabic</a>
                    <a href="#">Armenian</a>
                    <a href="#">Bulgarian</a>
                    <a href="#">Catalan</a>
                    <a href="#">Czech</a>
                    <a href="#">Dutch</a>
                    <a href="#">English</a>
                    <a href="#">French</a>
                    <a href="#">German</a>
                    <a href="#">Japanese</a>
                    <a href="#">Pashto</a>
                    <a href="#">Portuguese</a>
                    <a href="#">Spanish</a>
                    <a href="#">Swedish</a>
                    <a href="#">Vietnamese</a>
                </div>
            </div>
        </section>

        <input type="checkbox" name="Africa"> Africa

        <div class="items">

            <div data-type="Africa">afrika</div>
            <div data-type="Americas">Red</div>
            <div data-type="Asia">Circle</div>
            <div data-type="Europe">Orange</div>
            <div data-type="Oceania">Square</div>

        </div>

        <section>
            <div class="container">
                <input id="search" class="search" type="text" placeholder="Zoek een land" />

                <div class="dropdown" id="filter">
                    Choose a region
                    <ul>
                        <li>All</li>
                        <li>Africa</li>
                        <li>Americas</li>
                        <li>Asia</li>
                        <li>Europe</li>
                        <li>Oceania</li>

                    </ul>
                </div>
                <div class="dropdown" id="filter2">
                    Choose a language
                    <ul>
                        <li>All</li>
                        <li>Albanian</li>
                        <li>Arabic</li>
                        <li>Armenian</li>
                        <li>Bulgarian</li>
                        <li>Catalan</li>
                        <li>Czech</li>
                        <li>Dutch</li>
                        <li>English</li>
                        <li>French</li>
                        <li>German</li>
                        <li>Japanese</li>
                        <li>Pashto</li>
                        <li>Portuguese</li>
                        <li>Spanish</li>
                        <li>Swedish</li>
                        <li>Vietnamese</li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <input type="checkbox" name="Africa"> Africa
            <div class="container countries" id="countries">
                <% countries.forEach((country) => { %>
                <div class="items">
                    <div data-type="<%= country.region %>" class="card">
                        <form action="/mijnlijst" method="post">
                            <div>
                                <img src=<%= country.flag %> alt="vlag">
                            </div>

                            <div class="card-body">
                                <h2 class="country-name"><%= country.name %></h2>
                                <p class="country-region"><strong>Regio:</strong>
                                    <%= country.region %>
                                </p>
                                <p class="country-language"><strong>Taal:</strong>
                                    <%= country.languages[0].name %>
                                </p>
                                <label for="land">Land:</label>
                                <input type="text" name="land" id="land" value="<%= country.name %>">

                                <label for="populatie">Populatie:</label>
                                <input type="text" name="populatie" id="populatie" value="<%= country.population %>">

                                <label for="regio">Regio:</label>
                                <input type="text" name="regio" id="regio" value="<%= country.region %>">

                                <label for="capital">Hoofdstad:</label>
                                <input type="text" name="capital" id="capital" value="<%= country.capital %>">

                                <label for="language">Taal:</label>
                                <input type="text" name="language" id="language"
                                    value="<%= country.languages[0].name %>">


                            </div>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>

                <% }) %>

            </div>
        </section>



    </main>
    <script src="/scripts/script.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js">
    </script>
    <script src="/scripts/map.js"></script>

</body>

</html>