<!DOCTYPE html>
<html lang="en">

<%- include('includes/head'); -%>

<body>
    <%- include('includes/header'); -%>
    <main>
        <h1><%= title %></h1>

        <% allelanden.forEach(function(landen){ %>

        <section>
            <h2><%= landen.land %></h2>
            <h3><%= landen.populatie %></h3>
            <h3><%= landen.regio %></h3>
            <h3><%= landen.capital %></h3>
            <h3><%= landen.language %></h3>
        </section>
        <% }) %>

    </main>

</body>
<script src="/scripts/script.js"></script>

</html>