<!DOCTYPE html>
<html lang="en">

<%- include('includes/head'); -%>

<body>
    <%- include('includes/header'); -%>
    <main>
        <h1>Welkom op het profiel van <%= person %></h1>
        <p><strong>Leeftijd: </strong><%= data.leeftijd %></p>
        <p><strong>Geslacht: </strong><%= data.geslacht %></p>
    </main>

</body>
<script src="/scripts/script.js"></script>

</html>